<h1>Most Popular Articles</h1>

<ul id = "articles">
  <% @most_popular.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %>
    </li>
  <% end %>
</ul>

<br />
<br />
<br />

<h1>All Articles</h1>

<ul id = "articles">
  <% @articles.each do |article| %>
    <li>
      <span>
        <%= link_to article.title, article_path(article),
            class: 'article_title', id: "article_#{article.id}" %> 
        by <%= article.author.username %> 
      </span>
    </li>
  <% end %>
</ul>

<br />

<% if logged_in? %>
  <%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>